.back {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.center ion-icon:first-child {
  font-size: 40px;
  margin-bottom: 30px;
}

ion-content {
  --keyboard-offset: 0 !important;
  --keyboard-offset: 0 !important;
  --background: linear-gradient(-45deg, #1984ab, #13255b);

}

figure {
  text-align: center;
  margin: 20px;
}


figure img {
  text-align: center;
  margin: 20px;
  width: 180px;
}

.border {
  position: absolute;
  width: 180px !important;
  animation: rotate 10s ease infinite;
}

form {
  margin: 20px 0;
}

.text-email {
  color: #0e4400;
  text-align: center;
  font-size: 18px;
}

#background-content {
  background: blue !important;
}
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}