<ion-content [fullscreen]="true">
  <div color="primary" class="center">
    <div class="back">
      <ion-icon color="white" name="arrow-back-outline"></ion-icon>
      <ion-card-title>Sugerir Ponto</ion-card-title>
    </div>
    <figure>
      <img src="../../assets/recicla.png" />
    </figure>
    <form>
      <div class="text-email">
        <p>Sugestão enviada!
          Obrigado por enviar sua sugestão de ponto de coleta! Iremos analisá-la cuidadosamente e entraremos em contato em breve através do seu e-mail para fornecer um feedback sobre sua contribuição.</p>
      </div>
    </form>
  </div>
</ion-content>
