.center {
  margin: auto;
  padding: 0 30px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  animation: gradient 15s ease infinite;
}

// ion-content {
//   --keyboard-offset: 0 !important;
//   --background: linear-gradient(-45deg, #23a6d5, #23d5ab);
// }

a,
p {
  color: #0e4400 !important;
}

p {
  font-weight: 600;
}

form {
  margin: 20px 0;
}
figure {
  text-align: center;
}

figure img {
  width: 180px;
}

.border {
  position: absolute;
  width: 180px !important;
  animation: rotate 10s ease infinite;
}
ion-input {
  width: 100%;
}

ion-button {
  height: 56px;
  font-size: 20px;
  margin-top: 30px;
  --border-radius: 15px;
}

.password-recovery {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 120px;
  margin: 20px 0;
}

.password-recovery a {
  color: white;
}

.create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 0;
  margin-top: 50px;
  bottom: 0;
}

.create-account p {
  margin: 0;
  font-weight: normal;
}

.create-account a {
  color: var(--ion-color-secondary);
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}