.center {
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 55px;
  position: relative !important;
}

.logout {
  display: flex;
  align-items: center;
  position: fixed;
  color: white;
  bottom: 10px;
  right: 10px;
}

.logout ion-icon {
  font-size: 40px;
}

.logout p {
  margin-left: 6px;
  font-size: 26px;
}

.bg-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(17, 82, 55, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 40px 40px;
}

.bg-perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-text {
  text-align: center;
  color: white;
}

.user-text h1,
.user-text p {
  font-family: "Poppins", sans-serif;
}

ion-button {
  box-shadow: none;
}

ion-list {
  border-radius: 30px;
  margin: 40px 14px;
  padding: 20px 10px;
  background: rgba(17, 82, 55, 0.79);
}

ion-list ion-item {
  color: white;
  cursor: pointer;
  --ion-background-color: transparent;
}

ion-list ion-item ion-label {
  font-family: 'Poppins', sans-serif;
}

ion-label {
  display: flex !important;
  align-items: center;

  ion-icon {
    margin-left: 6px;
    font-size: 20px;
  }
}

.versao {
  display: block;
  text-align: right !important;
  position: relative;
  bottom: 10px;
  color: #0e4400;
  font-weight: 600;
  width: 94%;
}