.center {
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
}

.logout {
  display: flex;
  align-items: center;
  position: fixed;
  color: white;
  bottom: 10px;
  right: 10px;
}

.logout ion-icon {
  font-size: 40px;
}

.logout p {
  margin-left: 6px;
  font-size: 26px;
}
.bg-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(17, 17, 82, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 40px 40px;
}
.bg-perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.user-text {
  text-align: center;
  color: white;
}
.user-text h1,
.user-text p {
  font-family: "Poppins", sans-serif;
}
ion-button {
  box-shadow: none;
}
ion-list {
  border-radius: 30px;
  margin: 40px 14px;
  background: #76717130;
}
ion-list ion-item {
  color: white;
  --ion-background-color: transparent;
}
ion-label {
  display: flex !important;
  align-items: center;

  ion-icon {
    margin-left: 6px;
    font-size: 20px;
  }
}
