.center {
    padding: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}
.logout {
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    bottom: 50px;
    right: 30px;
}

.logout ion-icon {
    font-size: 40px;
}

.logout p {
    margin-left: 6px;
    font-size: 26px
}