<ion-content [fullscreen]="true">
  <div color="primary" class="center">
    <div class="back">
      <ion-icon
        (click)="backRegister()"
        color="white"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-card-title>Recupere sua senha</ion-card-title>
    </div>
    <figure>
      <img src="../../assets/recicla.png" />
    </figure>
    <div class="text-email">
      <p>
        Informe abaixo o seu e-mail de login e em seguida acesse o e-mail para
        proseguir com o passo a passo de recuperação de acesso.
      </p>
    </div>
    <form>
      <div class="container-input">
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input
            type="name"
            label="Email"
            labelPlacement="floating"
            name="email"
            required
          ></ion-input>
        </ion-item>
      </div>
      <ion-button color="secondary" expand="block">Recuperar senha</ion-button>
    </form>
  </div>
</ion-content>
