<ion-content [fullscreen]="true">
  <div color="primary" class="center">
    <div class="back">
      <ion-icon (click)="backPerfil()" name="arrow-back-outline"></ion-icon>
      <ion-card-title>Sugerir Ponto</ion-card-title>
    </div>
    <figure>
      <img class="border" src="../../assets/borda-logo.png" />
      <img class="logo" src="../../assets/logo.png" />
    </figure>
    <div class="text-sugerir">
      <p>
        Forneça seu endereço completo e as coordenadas de longitude e latitude correspondentes.
      </p>
    </div>
    <form>
      <div class="container-input">
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="text" label="Bairro" labelPlacement="floating" name="bairro" [(ngModel)]="bairro"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="text" label="Endereço" labelPlacement="floating" name="endereco" [(ngModel)]="endereco"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="text" label="Longitude" labelPlacement="floating" name="senha" [(ngModel)]="longitude"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="text" label="Latitude" labelPlacement="floating" name="senha" [(ngModel)]="latitude"
            required></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="sugestaoAceita()" color="secondary" expand="block">Sugerir</ion-button>
    </form>
  </div>
</ion-content>