<ion-content [fullscreen]="true">
  <div color="primary" class="center">
    <div class="back">
      <ion-icon (click)="backPerfil()" color="primary" name="arrow-back-outline"></ion-icon>
      <ion-card-title>Altere sua senha</ion-card-title>
    </div>
    <figure>
      <img class="border" src="../../assets/borda-logo.png"/>
      <img class="logo" src="../../assets/logo.png" />
    </figure>
    <form>
      <div class="container-input">
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="password" label="Senha atual" labelPlacement="floating" name="senhaAtual" [(ngModel)]="senhaAtual"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
        <ion-input type="password" label="Nova senha" labelPlacement="floating" name="senha1" [(ngModel)]="senha1" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input label="Nova senha novamente" labelPlacement="floating" name="senha2" [(ngModel)]="senha2" required></ion-input>
          <ion-icon name="eye"></ion-icon>
        </ion-item>
      </div>
      <ion-button (click)="alterarSenha()" color="primary" expand="block">Alterar Senha</ion-button>
    </form>
  </div>
</ion-content>
