.back {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.center ion-icon:first-child {
    font-size: 40px;
    margin-bottom: 30px;
}

ion-content {
    --keyboard-offset: 0 !important;
}

figure {
    text-align: center;
    margin: 20px;
}

form {
    margin: 20px 0;
}

figure {
    text-align: center;
    margin: 20px;
}

.text-ajuda {
    color: #0e4400;
    text-align: center;
    font-size: 18px;
}

form {
    margin: 20px 0;
}

figure img {
    text-align: center;
    margin: 20px;
    width: 180px;
}

.border {
    position: absolute;
    width: 180px !important;
    animation: rotate 10s ease infinite;
}

.container-input ion-item {
    border-radius: 20px;
}

ion-accordion-group {
    margin: 0;

    ion-label {
        white-space: normal !important;
    }
}

ion-button {
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    --border-radius: 20px;
}

.fale-conosco {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
    margin-top: 50px;
    bottom: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}