<ion-content [fullscreen]="true">
  <div color="primary" class="center">
    <div class="back">
      <ion-icon (click)="backLogin()" name="arrow-back-outline"></ion-icon>
      <ion-card-title>Crie sua conta</ion-card-title>
    </div>
    <figure>
      <img class="border" src="../../assets/borda-logo.png"/>
      <img class="logo" src="../../assets/logo.png" />
    </figure>
    <div class="text-register">
      <p>
        Crie sua conta para ter acesso a todas as funcionalidades do nosso aplicativo. Preencha os campos abaixo com suas informações pessoais para começar.
      </p>
    </div>
    <form>
      <div class="container-input">
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="name" label="Nome completo" [(ngModel)]="nomeCompleto" name="nomeCompleto" labelPlacement="floating" 
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input type="email" label="E-mail" labelPlacement="floating" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" lines="full">
          <ion-input [type]="passwordType" label="Senha" labelPlacement="floating" [(ngModel)]="senha" name="senha" required></ion-input>
          <ion-icon name="eye" (click)="togglePassword()"
            [color]="passwordShown === false ? 'gray' : 'dark'"></ion-icon>
        </ion-item>
      </div>
      <ion-button (click)="registre()" color="secondary" expand="block">Registre-se</ion-button>
    </form>
    <div class="login-account">
      <p>Já possui conta? <a (click)="backLogin()">Entre aqui</a></p>
    </div>
  </div>
</ion-content>
